:host{
    .mat-toolbar {
        // background-color: #175959;
        padding-top: 10px;
    }

    .menu-text-button {
        color: white; 
        font-size: medium; 
        background: none !important; 
        border: none !important;
    }

    mat-icon{
        color: white;
        font-size: 40px;
        padding-right: 10px;
    }
}

