:host{
   
    color: black;

    .mat-toolbar {        
        padding-top: 10px;
        background: rgba(0, 77, 64 , 0.1);
        z-index: 999;
    }

    mt-tl-bg-light{
        background: rgba(0, 77, 64 , 0.1);
    }

    mt-tl-bg-dark{
        background: rgba(0, 77, 64 , 1);
    }

    .menu-text-button {
        font-size: medium; 
        border: none !important;
    }

    mat-icon{
        font-size: 40px;
        padding-right: 10px;
    }
}
