<!DOCTYPE html>
<mat-toolbar color="primary" ngClass="bg-custom-class" >
  <mat-toolbar-row style="padding-top: 3%; padding-bottom: 3%;">
    <div fxFlex fxLayout="row" fxLayoutGap="20px">
      <div>
        <img src="/assets/images/ga-logo--gold.svg" alt="GTA" height="60" />
      </div>
      <div>
        <img
          [src]="imgSrc"
          (mouseover)="imgSrc = '/assets/images/gta-wordmark--gold.svg'"
          (mouseout)="imgSrc = '/assets/images/gta-wordmark--white.svg'"
          alt="GTA TEXT"
          height="60"
        />
      </div>
      <div fxFlex>

      </div>
      <div *ngIf="deviceLayout == 'mobile'" style="margin-left: auto;">        
          <span mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
          </span>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="deviceLayout == 'web'" style="border-top: 1px white solid;">
   
    <a mat-menu-item [matMenuTriggerFor]="menu" class="menu-text-button">Cloud</a>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>View PeachSafe</button>
      <button mat-menu-item>Open</button>
      <button mat-menu-item [matMenuTriggerFor]="recent">Recent</button>
    </mat-menu>
    
    <mat-menu #recent="matMenu">
      <button mat-menu-item>File 1</button>
      <button mat-menu-item>File 2</button>
    </mat-menu>

    <a mat-menu-item [matMenuTriggerFor]="aboveMenu" class="menu-text-button">Above</a>
    <!-- #docregion menu-position -->
    <mat-menu #aboveMenu="matMenu" yPosition="above">
    <!-- #enddocregion menu-position -->
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <a mat-menu-item [matMenuTriggerFor]="belowMenu" class="menu-text-button">Below</a>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <a mat-menu-item [matMenuTriggerFor]="beforeMenu" class="menu-text-button">Before</a>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    
    <a mat-menu-item [matMenuTriggerFor]="afterMenu" class="menu-text-button">After</a>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
