:host{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: stretch;
    background-color: #ffffff;
  }
  mat-drawer{
    width: 300px;
  }
  
  mat-drawer-container{
    flex-grow: 1;
  }
  
  mat-drawer-content{
    padding:20px;
    background-color: #ffffff;
  }
  
  app-header .ftr-div mat-drawer-container{
    flex-shrink: 0;
  }
  
  app-header .ftr-div{
    flex-grow: 0;
  }  